In [40]:
import os
import random
import pandas as pd

In [41]:
company_extract_quantity = random.randrange(100, 150)
df_company_src = pd.read_excel("sample_data/고객사 명단.xlsx")
df_company = df_company_src.sample(n=company_extract_quantity)
df_company

        고객사명  담당자             담당자 이메일
409    케근당그룹  양미운   lirnyfut@whhsa.kr
410    아근카인텍  임영규   ivsmpmj@mkgeaw.kr
428  방이소아성산업  강미준    jsqyxevb@kakz.kr
272     펜콩단잠  최유준  acpqdxu@rdfpwqx.kr
67    일데하이마트  김병유     pqdadh@brnpm.kr
..       ...  ...                 ...
124  오대중공업그룹  민현균    quocr@hbnrrbs.kr
234     영화모자  백재우      rbnkls@gmkx.kr
236    엔스소프트  고호하     olfgqm@kgofv.kr
407   대스전자부품  조성비      jamnef@vlcm.kr
370     현부건설  이연하   wmhqfdw@ziqphd.kr

[109 rows x 3 columns]

In [42]:
service_tasks = [
    ["토너교체", "무상", 0, 0],
    ["청소", "무상", 0, 0],
    ["주유", "무상", 0, 0],
    ["드럼교체", "무상", 0, 0],
    ["드럼교체(고객과실)", "유상", 500000, 550000],
    ["용지걸림 수리", "무상", 0, 0],
    ["용지걸림 수리(고객과실)", "유상", 35000, 50000],
    ["급지트레이 교체", "무상", 0, 0],
    ["급지트레이 교체(고객과실)", "유상", 40000, 50000],
    ["스캐너 교체", "무상", 0, 0],
    ["스캐너 교체(고객과실)", "유상", 350000, 450000],
    ["메인보드 교체", "무상", 0, 0],
    ["메인보드 교체(고객과실)", "유상", 250000, 350000],
    ["온도센서 교체", "무상", 0, 0],
    ["온도센서 교체(고객과실)", "유상", 30000, 50000],
    ["기타센서 교체", "무상", 0, 0],
    ["기타센서 교체(고객과실)", "유상", 20000, 80000],
    ["커버파손 교체(고객과실)", "유상", 30000, 80000],
    ["바퀴 교체", "무상", 0, 0]
]

date_list = ["04", "05", "06", "07", "08", "11", "12", "13", "14", "15", "18", "19", "20", "21", "22", "25", "26", "27", "28", "29"]
service_result = []

for i in range(8):
    for t in range(random.randrange(40, 60)):
        rand_no = random.randrange(0, len(service_tasks))
        rand_no_for_company = random.randrange(0, len(df_company))
        if service_tasks[rand_no][1] == "유상":
            price = random.randrange(service_tasks[rand_no][2], service_tasks[rand_no][3], 1000)
        else:
            price = service_tasks[rand_no][2]
        vat = int(price/10)
        total_price = int(price + vat)
        this_service_result = {
            "방문일자" : "2021-10-{}".format(date_list[random.randrange(len(date_list))]),
            "고객사명" : df_company.iloc[rand_no_for_company, 0],
            "기사" : "기사{}".format(i+1),
            "서비스내역" : service_tasks[rand_no][0],
            "유상/무상" : service_tasks[rand_no][1],
            "비용(공급단가)" : price,
            "비용(부가세)" : vat,
            "비용(총비용)" : total_price
        }
        service_result.append(this_service_result)
df = pd.DataFrame(service_result)
df.sort_values(by=["기사", "방문일자"], inplace=True)
print("유상 건수 : {}".format(len(df[df["유상/무상"].isin(["유상"])])))
print("무상 건수 : {}".format(len(df[df["유상/무상"].isin(["무상"])])))
df

유상 건수 : 158
무상 건수 : 234

           방문일자     고객사명   기사          서비스내역 유상/무상  비용(공급단가)  비용(부가세)  비용(총비용)
25   2021-10-04     이주그룹  기사1  용지걸림 수리(고객과실)    유상     37000     3700    40700
15   2021-10-05     문거창고  기사1  용지걸림 수리(고객과실)    유상     48000     4800    52800
38   2021-10-05      육대장  기사1  용지걸림 수리(고객과실)    유상     44000     4400    48400
7    2021-10-06     영호몰딩  기사1        용지걸림 수리    무상         0        0        0
22   2021-10-06     주한제분  기사1           드럼교체    무상         0        0        0
..          ...      ...  ...            ...   ...       ...      ...      ...
368  2021-10-27   타오롱글로벌  기사8   스캐너 교체(고객과실)    유상    448000    44800   492800
378  2021-10-27     현대건설  기사8        기타센서 교체    무상         0        0        0
391  2021-10-27     중루토건  기사8        용지걸림 수리    무상         0        0        0
383  2021-10-28   발데지알에스  기사8        온도센서 교체    무상         0        0        0
350  2021-10-29  진노삼성자동차  기사8        온도센서 교체    무상         0        0        0

[392 rows x 8 columns]

In [43]:
result_file_path = "sample_data/서비스 이력.xlsx"
as_man_list = df["기사"].unique()
for i in range(len(as_man_list)):
    this_df = df.loc[df.기사 == as_man_list[i], :]
    if not os.path.exists(result_file_path):
        with pd.ExcelWriter(result_file_path, mode="w", engine="openpyxl") as writer:
            this_df.to_excel(writer, sheet_name=as_man_list[i], index=False)
    else:
        with pd.ExcelWriter(result_file_path, mode="a", engine="openpyxl") as writer:
            this_df.to_excel(writer, sheet_name=as_man_list[i], index=False)

In [49]:
from openpyxl import load_workbook
from openpyxl.styles import Font, PatternFill, Alignment, Side, Border

wb = load_workbook("sample_data/서비스 이력.xlsx")

fill_style = PatternFill(fill_type="solid", start_color="ffd663") #셀 배경색 설정 객체 생성
font_style = Font(color="000000", sz=12, bold=True) #폰트 설정 객체 생성
alignment_style = Alignment(horizontal= "center", vertical = "center")
side = Side(color="CCCCCC", border_style="medium")
border_style = Border(
    left = side,
    right = side,
    top = side,
    bottom = side,
)

for sheet in wb.sheetnames:
    ws = wb[sheet]
    for row in ws:
        for col in row:
            col.alignment = alignment_style
            col.border = border_style
            if col.row == 1:
                col.fill = fill_style
                col.font = font_style

    for i in range(ws.max_row+1):
        ws.row_dimensions[i].height = 24 #row_dimensions[숫자] → 숫자행 전체를 선택

    ws.column_dimensions["A"].width = 15
    ws.column_dimensions["B"].width = 30
    ws.column_dimensions["C"].width = 15
    ws.column_dimensions["D"].width = 40
    ws.column_dimensions["E"].width = 10
    ws.column_dimensions["F"].width = 20
    ws.column_dimensions["G"].width = 20
    ws.column_dimensions["H"].width = 20

wb.save(filename = "sample_data/서비스 이력.xlsx")